type file
id SuperGlue.Hosting.Katana
version 1.0
authors Mattias Jakobsson
description
        SuperGlue katana host
files
    bin/Release/**/*.dll ==> content/Hosts/katana
	!bin/Release/SuperGlue.Configuration.dll
dependencies
	Microsoft.Owin.SelfHost >= 3.0.1
	SuperGlue.Configuration