push.bat
TestResult.xml
build
build35
artifacts
src/CommonAssemblyInfo.cs
[Dd]ebug/
[Rr]elese/
[Oo]bj/
[Bb]in/
[Uu]ploaded/
*.suo
*.user
*.sln.cache
/TestResults
*.vspscc
*.vssscc
*[Rr]e[Ss]harper.user
_ReSharper.*/
[Mm]etric[Rr]esults
[Pp]ackages
[Dd]ata/[Rr]aven[Dd]b/[Ss]erver/[Dd]atabase
[Dd]ata/[Rr]aven[Dd]b/[Ss]erver/[Ll]ogs
[Dd]ata/[Rr]aven[Dd]b/[Ss]erver/[Aa]nalyzers
[Dd]ata/[Rr]aven[Dd]b/[Ss]erver/[Rr]aven
[Dd]ata/eventstore-net/[Dd]ata
[Dd]ata/eventstore-net/[Dd]ata-logs
[Dd]ata/[Nn]eo4j/data
src/SuperGlue.Web.Sample.AspNet/[Rr]untime
fubu-content
bottles.cmd
*.stresult
.fubu-alias
.fubu-includes
.fubu-manifest
pak*.zip
test-results
spark.zip
storyteller
FubuTestAppRoot
report.htm
packaging/release
lib/**/*.nupkg
installation_report.htm
*.swp
output
output/*
build/pkg/*
*.dotCover
src/packages
repositories.config
results
deploy
deploy/*
deployment/bottles/*.zip
deploymentplan.html
deployment
!docs/source/topics/deployment
*ncrunch*
fubu.cmd
logs
fubutransportation.esent.*
