type file
id SuperGlue.Hosting.FastCgi
version 1.0
authors Mattias Jakobsson
description
        SuperGlue FastCgi host
files
    bin/Release/**/*.dll ==> content/Hosts/fastcgi
	!bin/Release/SuperGlue.Configuration.dll
	bin/Release/IncludeHostFiles.targets ==> build
dependencies
	SuperGlue.Configuration