type file
id SuperGlue.Installers.TopShelf
version 1.0
authors Mattias Jakobsson
description
        SuperGlue topshelf installer
files
    bin/Release/**/*.dll ==> build/Installers/topshelf
	bin/Release/**/*.exe ==> build/Installers/topshelf
	bin/Release/SuperGlue.Installers.TopShelf.exe.ignore ==> build/Installers/topshelf
	!bin/Release/SuperGlue.Configuration.dll
	bin/Release/IncludeHostFiles.targets ==> build