type file
id SuperGlue.Hosting.Aurelia
version 1.0
authors Mattias Jakobsson
description
        SuperGlue Aurelia host
files
    bin/Release/**/*.dll ==> build/Hosts/aurelia
	!bin/Release/SuperGlue.Configuration.dll
	bin/Release/IncludeHostFiles.targets ==> build
dependencies
	SuperGlue.Configuration